Hola, awaxd sorry por tardar pero tenía que escribir decentemente (para mis estandares de 500 puntos psu lenguaje) la respuesta a tu mensaje. No veo lo egoísta en todo caso xd igual eso debe ser mala mía (nuestra con los otros k) por flamers anyway, nefasto haber provocado esa sensación en ti, perdón por eso, claramente no fui nada agradable mientras jugabamos al jueguito. Y felicitaciones jaja el benja lo comentó el otro día y fue como :O brígido.

Igual te quería hablar hace rato por lo que pasó, pero entre que me quedé pensando si debía o no por el mismo motivo de que encuentro que es egoísta (aunque rial que lo tuyo para mi no tiene nada de egoístaxd), se me pasó el tiempo y no lo he hecho. Así que aprovecharé de mandarme tremendo texto que si quieres lees sino ta bien porque tremendo show míoxd.

Bueno ese harto rato igual es mucho tiempo eksdi, tipo mediados de 2020 porque pasó algo que me hizo sentir nefasto en una situación parecida a lo que pasó a principio de año contigo y fue como "nefasto yo conozco esta situación y probablemente Leo se haya sentido así, y lo peor es que en verdad ya conocía ese tipo de sentimientos así que bien flaite en verdad". No es como excusa realmente pero esos meses (finales de 2019 y comienzos de 2020) fueron los más nefastos probably de la vida, eso no justifica nada lo que pasó pero sí probablemente influyó en que sea más ctm de lo que ya soy. Y en verdad después (finales de 2020) pasaron cosas nefastas también y dije, voy a posponer esto hasta que yo esté bien, no en estas circunstancias como el pickle. Sin mucho más detalle porque ya me extendí el tiempo pasó hasta que estuve bien y tampoco te hablé, no sé si era justo para ti en verdad o no después de tanto xd pero sí era algo que quería hacer.

Finalmente, todo ese texto para decir que en verdad perdón, encuentro que fue totalmente mala mía por no acercarme después de que pasó lo que pasó, especialmente conociendo cómo te podría haber afectado la situación y fue una estupidez perder una amistad tan importante por no mover la raja por ti.